<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Bienvenue-Welcome</h1>
        <p>site de partage d'expériences</p>
      </header>
      <p>A force de noter pleind e chose à différetns endroits, je me suis dit que ce serait de noter tout cela plus méthodiquement</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/cerisierJaponais.png" alt="" />
    </span>
  </section>
